.color1{
	background-color: red;
}

.color2{
	background-color: blue;
}

.color3{
	background-color: yellow;
}


.color4{
	background-color: #9c9c9c;
}

.color5{
	background-color: #0058F7;
}

.color6{
	background-color: black;
}


.color7{
	background-color: #cec49e;
}

.color8{
	background-color: #4CBFD3;
}

.color9{
	background-color: #6E22DD;
}

.color10{
	background-color: #22DD9D;
}

.color11{
	background-color: #4FA10D;
}

.color12{
	background-color: #A1940D;
}

.color13{
	background-color: #4F3814;
}

.color14{
	background-color: #C58F69;
}

.color15{
	background-color: #6BD547;
}